@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.navBar ul li {
   display: inline;
   list-style: none;
   margin-left: 40px;
}

.navBar {
   font-family: 'Roboto', sans-serif;
   display: flex;
   align-items: center;
   margin-left: 30px;
   margin-top: 20px;
}

.navBar a {
   text-decoration: none;
   color: black;
}

.navBar h1 {
   color: #254F4C;
   margin: 0 145px 0 35px;
   font-size: 28px;
   font-family: 'Roboto Condensed', sans-serif;
}
.filter{
   font-family: 'Roboto', sans-serif;
   display: flex;
   justify-content:flex-end;
   align-items: center;
   margin-right: 42px;
   margin-bottom: 30px;
   
}
.filter select{
   height: 30px;
   width: 150px;
   text-align: center;
   margin: 12px ;
   border: 1px solid rgba(128, 128, 128, 0.763);
}
.menu {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 1250px;
}

.product_block {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   background-color: transparent;
   width: 265px;
   margin: 80px 18px;
   color: rgba(37, 79, 76, 1);
   border-radius: 45px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   transition: 1s;
}

.product_block:hover {
   transform: scale(1.1);
   /* Увеличиваем масштаб */
   box-shadow: 0px 15px 18px #1D3130;
}

.product_block img {
   background-color: transparent;
   width: 200px;
   height: 160px;
}

.description {
   width: 231px;
   text-align: center;
   margin: 0 0 20px;

}

.product_block button {
   background-color: rgba(37, 79, 76, 1);
   color: #fff;
   border: 0;
   padding: 13px 65px;
   border-radius: 35px;
   font-size: 15px;
   cursor: pointer;
   margin: 0;
}

.product_block b {
   font-size: 35px;
   color: rgba(37, 79, 76, 1);
   margin: -20px 8px;
   cursor: pointer;
}

.amount {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
}
.amount b{
   color: #FF583E;
}

.product_block h3 {
   margin: 0;
}

.product_block img {
   margin-top: -45px;
}

.more {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 50px;
}

.more button {
   cursor: pointer;
   background-color: transparent;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-style: normal;
   font-size: 14px;
   line-height: 147.19%;
   text-transform: uppercase;
   color: #FF583E;
   border: 1px solid #FF583E;
   border-radius: 40px;
   padding: 15px 40px;
}

.more button:hover {
   background-color: #FF583E;
   color: white;
}