.Container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 30px;
   margin-top: 50px;
}
.Content{
   width: 358px;
}
.Content button{
   display: flex;
   align-items: center;
   background-color: #FF583E;
   color: #fff;
   border: 0;
   padding: 10px 20px;
   border-radius: 35px;
   font-size: 15px;
   cursor: pointer;
}
.burger{
   margin-left: 95px;
}
.Content h1{
   color: #254F4C;
   font-size: 34px;
}
.Content p{
   font-weight: 300;
   font-size: 16px;
}