.Header{
   display: flex;
   justify-content: center;
   padding-top: 20px;
   width: 100%;
   height: 60px;
   background-color: white;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
}
.Header ul li {
   display: inline;
   list-style: none;
   margin-left: 60px;
}
.Header a{
   text-decoration: none;
   color: black;
   font-size: 18px;
}
.Header b {
   margin: 3px;
   color:#FF583E;
}
.Header img{
   margin-left: 4px;
}
.img{
   margin-right: 10px;
}