body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 1332px;
}
::-webkit-scrollbar {
   width: 0;
}
#root{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}