@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.navBar ul li {
   display: inline;
   list-style: none;
   margin-left: 40px;
}

.navBar {
   font-family: 'Roboto', sans-serif;
   display: flex;
   align-items: center;
   margin-left: 30px;
   margin-top: 90px;
}

.navBar a {
   text-decoration: none;
   color: black;
}

.navBar h1 {
   color: #254F4C;
   margin: 0 145px 0 35px;
   font-size: 28px;
   font-family: 'Roboto Condensed', sans-serif;
}